// Contact Page START
#contact-container{
    margin-top: 100px;
    // margin-bottom: 80px;

    .ct-des-txt{
        // background: #f7fbff;
        padding: 10px 15px;
        // border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
        color: $text-accent;
        // border-bottom: 1px solid #d4dbe1;
    }
    .ct-hdr,
    .ct-des-txt{
        font-family: $open-sans;
        font-size: 1rem;
    }
    .ct-hdr{
        padding-left: 15px;
        color: $primary-clr;
        font-family: $parksonSemiB;
        font-size: clamp(2rem, 2.2vw, 2.2rem);
        line-height: 30px;
        font-weight: 600;
    }
    .ct-phone{
        color: $text-accent ;
        margin-top: 10px;

        &:hover{
            text-decoration: unset !important;
        }
    }
    .ct-mail{
        color: $text-accent;

        &:hover{
            color: $primary-clr;
        }
    }
    .ct-mail,
    .ct-phone{
        transition: .2s;
        display: block;
        margin: 8px 0;
        font-family: $open-sans;
        // color: $primary-clr;
        text-decoration: none;
        font-weight: 500;

        i{
            color: $primary-clr;
            margin-right: 10px;
        }
        &:hover{
            text-decoration: underline;
        }
    }

    .social-icons{
        padding: 0 40px 0 15px;
        margin-top: 0;

        i{
            font-size: 1.4rem;
        }
        li a{
            color: $primary-clr;
            transition: .2s;
            position: relative;
            top: 0; 

            &:hover{
                top: -3px;

                color: $text-accent;
            }
        }
    }
    #ct-form{
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 6px;
        // border: 1px solid #d4dbe1;
        background: $primary-clr;

        .form-control:focus,
        .form-select:focus {
            border-color: $primary-clr;
            box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.25);
        } 
        
        #floatingTextarea{
            min-height: 120px;
        }
        h2{
            font-size: 1.5rem;
            margin-bottom: 25px;
            border-bottom: 1px solid #d4dbe1;
            padding-bottom: 14px;
        }

        .form-floating > label{
            left: 10px;
        }
        // #sub-btn{
        //     background: $primary-clr;
        //     padding: 8px 50px;
        //     font-family: $open-sans;

        //     &:hover{
        //         background: #135ff4;
        //     }
        // }
    }
    .form-check{
        padding-left: 35px !important;

        .form-check-input{
            box-shadow: 0 0 0;
            color: red;
        }
    }

}
// Contact Page END