// Header START
header{
    // background-image: url('../images/header-bg.jpg');
    background: $secondary-clr;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    position: relative;

    .row:first-child{
        justify-content: center;
    }
    // padding: 0 4.165% !important;

    // .overlay-hdr{
    //     position: absolute;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(251, 231, 70, 0.6);
    // }
    .logo-1{
        a{
            outline: none;
            display: flex;
            align-items: center;
            text-decoration: none;
            position: relative;
            min-width: 190px;
            max-width: 190px;
        }

        // &:hover img{
        //     transform: rotate(180deg);
        // }

        img{
            transition: .3s;
            margin-right: 10px;
            min-width: 90px;
            max-width: 90px;
        }
        p{
            font-family: $parksonMedium;
            position: absolute;
            top: 20px;
            right: 25px;
            text-transform: uppercase;
            margin: 0;
            margin-top: 20px;
            // background-color: red;
            // width: fit-content;
            max-width: 89px;
            max-height: 35px;
            overflow: hidden;
            line-height: 18px;
            font-size: 1.1rem;
            letter-spacing: 2px;
            color: $text-accent;
            
            span{
                letter-spacing: 1px;
            }
        }
    } 
    nav{
        z-index: 100;
        line-height: 10px;
        // background: $secondary-clr;
        // background: rgba(251, 231, 70, 0.9);
        
        .userPro-icon{
            margin-right: 15px;
            i::before{
                font-size: 1.3rem !important;
            }
            padding-right: 15px !important;
            border-right: 1px solid rgba(255,255,255,0.2);
        }
        .hdr-social-icons{
            margin: 0;
            display: flex;
            align-items: center;
            margin-left: 5vw;
            li{
                margin: 0 4px;
                // overflow: hidden;
                max-width: 29px;
            }
            
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 36px;
                min-height: 30px;
                padding: 0;
                // min-width: 10px;
                // padding: 14px 35px 14px 15px;
                
                .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                    // position: unset !important;
                    // top: 0 !important;
                    position: relative;
                    transition: .2s;
                    left: 0;
                    // header nav ul li .bi::before {
                    top: 5px;
                    margin: 0;
                    font-size: 1.1rem;       
                }
                &:hover{
                    .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                        color: $text-accent;
                    }
                    .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                        // header nav ul li .bi::before {
                            top: 2px;
                            margin: 0;
                            font-size: 1.2rem;       
                        }
                    }
            }
            
                // &:hover{
                    //     .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                        //         transform: rotate(0deg);
            //     }
            
            // }
        }
        
        #nav-row{
            display: flex;
            justify-content: space-between;
        }
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding-left: 0;
            
            
            .active-link{
                // bottom arrow
                a{
                    color: $primary-clr;
                    
                    &::before {
                        content: '';
                        border-bottom: 7px solid $primary-clr;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        transition: .2s;
                        position: absolute;
                        left: 43%;
                        bottom: -25%;
                    }
                    // top arrow
                    &::after {
                        content: '';
                        border-top: 7px solid $primary-clr;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        transition: .2s;
                        position: absolute;
                        left: 43%;
                        top: -25%;
                    }
                }
            }
            .active{
                a{
                    // bottom arrow
                    &::before {
                        content: '';
                        border-bottom: 7px solid $primary-clr;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        transition: .2s;
                        position: absolute;
                        left: 43%;
                        bottom: -40%;
                        opacity: 0;
                        visibility: hidden;
                        // transform: translate(-50%, -50%);
                    }
                    // top arrow
                    &::after {
                        content: '';
                        border-top: 7px solid $primary-clr;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        transition: .2s;
                        position: absolute;
                        left: 43%;
                        top: -40%;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            li{
                // cursor: pointer;
                margin: 0 8px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &:hover{
                    .sub-menu{
                        visibility: visible;
                        opacity: 1;
                        max-height: 165px;
                        // top: 90px;
                    }
                }
                a{
                    display: block;
                    text-decoration: none;
                    padding: 10px;
                    position: relative;
                    color: $text-accent;
                    line-height: 17px;
                    font-weight: 500;
                    font-family: $open-sans;
                    
                }
                
                a{
                    &:hover{
                        color: $text-accent;
                        
                        &::before{
                            bottom: -25%;
                            opacity: 1;
                            visibility: visible;
                        }
                        &::after {
                            top: -25%;
                            opacity: 1;
                            visibility: visible;
                        }
                        // .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                            //     transform: rotate(180deg);
                            //     background: none !important;
                            // }
                            
                        
                    }
                }
                    // &:hover 
                    
                    .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                        margin-left: 10px;
                        transition: .3s;
                        font-size: .9rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $primary-clr;
                        position: absolute;
                        top: 22px;
                        right: 10px;
                        
                    }
                }
                
                .sub-menu{
                    opacity: 0;
                    visibility: hidden;
                    top: 100%;
                    left: 0;
                    transition: .3s;
                    max-height: 0px;
                    overflow: hidden;
                    
                    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.3);
                    
                    position: absolute;
                    z-index: 2;
                    background: $primary-clr;
                    
                    flex-direction: column;
                    padding: 0;

                    min-width: 202px;
                    border-radius: 3px;
                    align-items: flex-start;
                    padding: 8px 8px;

                    li{
                        display: block;
                        width: 100%;
                        margin: 0;

                        a{
                            display: block;
                            font-size: .9rem;
                            color: $secondary-clr;
                            border-radius: 4px;
                            transition: .2s;
                            background: transparent;

                            &:hover{
                                background: $secondary-clr;
                                color: $text-accent;
                            }
                            &::after , &::before{
                                display: none;
                            }
                        }
                    }
                }
            .logo-2{
                display: flex;
                align-items: center;
            }
            .logo-2 img{
                display: none;
                margin-right: 20px;
                min-width: 50px;
                max-width: 50px;
            }
        }
        
    }
    // #uppr-row{
        //     position: relative;
        //     padding: 10px 0;
        
        
        //         .right-logos{
            //             display: flex;
    //             align-items: center;
    
    //             p{
        //                 color: #fff;
        //                 font-family: $open-sans;
        //                 margin-bottom: 5px;
        //                 font-size: .9rem;
        //             }
        //             img{
            //                 min-width: 80px;
            //                 max-width: 80px;
            //             }
            //         }
            
            //         .social-icons{
                //             ul{
                    //                 display: flex;
                    //                 margin: 0;
                    
                    //                 li{
                        //                     margin: 0 15px;
                        //                     list-style: none;
                        
                        //                     a{
                            //                         color: #fff;
    //                         font-size: 1.5rem;
    //                         transition: .2s;
    
    //                         &:hover{
        //                             color: #000;
        //                         }
        //                     }
        //                 }
        
        //             } 
        //         }
        
        
        //     }
        
        
        // Navigation
}
    
.topOverlay, .topOverlayBanner{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.topOverlayBanner{
    backdrop-filter: blur(0px);
    opacity: 1;
    z-index: 5;
    visibility: visible;
    background: rgba(166, 149, 18, 0.5);
}
.addBackDrop{
    opacity: 1;
    visibility: visible;
    background: rgba(49, 45, 14, 0.3);
}
.fix-header-top{
        position: fixed;
        top: 0;
        width: 100%;
        background: $primary-clr;
        transition: .3s;
        box-shadow: 0px 0px 7px -1px rgba(166, 149, 18, 0.6);
        
        // change colors on scroll
        .logo-1 p{
            color: $secondary-clr;
    }
    nav {
        .hdr-social-icons ul li a{
            transition: .2s;
            
            &:hover{
                position: relative;
                top: -2px;
            }
        }
        ul li .bi::before, ul li [class^=bi-]::before, ul li [class*=" bi-"]::before{
            color: $secondary-clr;
        }
        ul{
            li{
                
                a{
                    &:hover{
                        color: $secondary-clr;
                        
                        
                        .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                            color: $secondary-clr;
                        }
                    }
                    color: $secondary-clr;
                    
                    &::after, &::before{
                        border-top-color: $secondary-clr;
                        border-bottom-color: $secondary-clr;
                    }
                }
            } 
        } 
    }
    .primary-btn{
        box-shadow: 0px 7px 50px 2px rgba(0, 0, 0, 0.0);        
        transition: .2s;
        
        button{
            transition: .2s;
            background: $secondary-clr;
            color: $text-accent !important;
        }
        &:hover{
            button{
                box-shadow: 0px 7px 50px 2px rgba(0, 0, 0, 0.6);        
            }
        }
    }
    .register-btn{
        button{
            background: transparent !important;
            border: 1px solid $secondary-clr !important;
            color: $secondary-clr !important;
        }
        &:hover button{
            border: 1px solid $secondary-clr !important;
            color: $text-accent !important;
            background: $secondary-clr !important;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;        

        }
    }
    .logo-2 img{
        display: block;
    }
}
// Header END

.primary-btn{
    height: fit-content;
    transition: .2s;
    padding-bottom: 0px;
    
    i{
        margin-right: 8px;
    }
    button{
        box-shadow: 0px 7px 25px 2px rgba(251, 231, 70, 0);
        background: none;
        border: none;
        padding: 8px 11px;
        border-radius: 3px;
        background: $primary-clr;
        font-family: $open-sans;
        font-weight: 500;
        color: $secondary-clr !important;
        outline: none;
        font-size: 1rem;
        position: relative;
        top: 0;
        margin-bottom: 0px;
    }

    &:hover{
        padding-bottom: 10px;

        button{
            box-shadow: 0px 7px 50px 2px rgba(251, 231, 70, 0.6);
        }
    }
}
.register-btn{
    margin-left: 8px !important;

    button{
        background: $secondary-clr !important;
        transition: .3s !important;
        color: $primary-clr !important;
        border: 1px solid $primary-clr !important;
        box-shadow: 0px 0px 0px 0px rgba(251, 231, 70, 0.6);

        &:hover{
            top: 0px;
            box-shadow: 0px 0px 0px 0px rgba(251, 231, 70, 0.6);
        }
    }
    &:hover button{
        background: $primary-clr !important;
        color: $secondary-clr !important;
        box-shadow: 0px 0px 0px 0px rgba(251, 231, 70, 0.6);
    }
}
#ham-button{
    display: none;
    border: none;
    background: none;
    
    // .hamRotate{
        //     pointer-events: none;
        // }
        .ham {
            pointer-events: none;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .hamRotate.active {
            transform: rotate(45deg);
        }
        .hamRotate180.active {
        transform: rotate(180deg);
      }
      .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#fff;
        stroke-width:5.5;
        stroke-linecap:round;
      }
    
    .ham8 .top {
        stroke-dasharray: 40 160;
      }
      .ham8 .middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
      }
      .ham8 .bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
      }
      .ham8.active .top {
        stroke-dashoffset: -64px;
      }
      .ham8.active .middle {
        //stroke-dashoffset: -20px;
        transform: rotate(90deg);
      }
      .ham8.active .bottom {
        stroke-dashoffset: -64px;
      }

}
.login-srch{
    display: flex;
    align-items: center;

    ul{
        height: 100%;

        .sub-menu{
            height: fit-content;
        }
    }
}
// .srch-bar-sm{
//     display: none;
// }
// .srch-bar{
//     z-index: 50;
//     margin-left: 15px;

//     .srch-i{
//         border: none;
//         outline: none;
//         color: #141414;
//         font-size: 1.4rem;
//         background: none;

//         .bi-search{
//             pointer-events: none;
//         }
//     }
//     .search-box{
//         visibility: hidden;
//         opacity: 0;
//         margin-top: 10px;
//         transition: .4s;
//         position: absolute;
//         left: 0;
//         // top: 100px;
//         display: flex;
//         justify-content: center;
//         width: 100%;
//         background-color: rgba($color: #000000, $alpha: 0.5);
//         backdrop-filter: blur(6px);
//         height: 100vh;

        
//         input{
//             transition: .6s;
//             filter: blur(0px);
//             position: relative;
//             top: 10px;
//             border-radius: 6px;
//             padding: 0px 15px;
//             outline: none;
//             min-height: 50px;
//             max-height: 50px;
//             border: none;
//             color: $secondary-clr;
//             font-family: $open-sans;
            
//             width: 63%;
//         }
//     }
//     .show-hide-srch{
//         visibility: visible;
//         opacity: 1;

//     }
// }
