// Header START
header{
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;

    .overlay-hdr{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(5, 73, 206, 0.6);
    }
    #uppr-row{
        position: relative;
        padding: 10px 0;

        .uppr-row-con{
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 3;
            position: relative;

            .logo-1{
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                }

                &:hover img{
                    transform: rotate(180deg);
                }

                img{
                    transition: .3s;
                    margin-right: 10px;
                    min-width: 60px;
                    max-width: 60px;
                }
                p{
                    margin: 0;
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $open-sans;
                    font-weight: 500;
                }
            } 
            .right-logos{
                display: flex;
                align-items: center;

                :nth-child(1) img{
                    margin-top: 35px;
                    margin-right: 15px;
                }

                p{
                    color: #fff;
                    font-family: $open-sans;
                    margin-bottom: 5px;
                    font-size: .9rem;
                }
                .chana-logo{
                    display: flex;
                    justify-content: center;
                    // background-color: #fff;
                    padding: 10px;
                    border-radius: 6px;

                    img{
                        min-width: 110px;
                        max-width: 110px;
                    }
                }
                img{
                    min-width: 180px;
                    max-width: 180px;
                }
            }
            // .social-icons{
            //     ul{
            //         display: flex;
            //         margin: 0;

            //         li{
            //             margin: 0 15px;
            //             list-style: none;
            
            //             a{
            //                 color: #fff;
            //                 font-size: 1.5rem;
            //                 transition: .2s;

            //                 &:hover{
            //                     color: #000;
            //                 }
            //             }
            //         }

            //     } 
            // }

            
        }
    }

    // Navigation
    nav{
        background: rgba(0, 49, 145, 0.6);
        
        #nav-row{
            display: flex;
            justify-content: space-between;
        }
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding-left: 0;
            
            
            .active-link{
                // background: #0240bb;
                border-bottom: 5px solid #fff;
            }
            li{
                cursor: pointer;
                margin: 0 15px;
                position: relative;
                display: flex;
                align-items: center;
                
                &:hover{
                    background: #0240bb;
                    
                    .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                        transform: rotate(180deg);
                    }
                    
                }
                &:hover .sub-menu{
                    visibility: visible;
                    opacity: 1;
                    top: 56px;
                }
                .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
                    margin-left: 10px;
                    transition: .3s;
                    font-size: .9rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    position: absolute;
                    top: 22px;
                    right: 10px;

                }
                
                a{
                    display: block;
                    text-decoration: none;
                    padding: 14px 35px 14px 15px;
                    color: #fff;
                    font-family: $open-sans;
                    
                    &:hover{
                        color: #fff;

                    }
                }

            }
        }

        .sub-menu{
            opacity: 0;
            visibility: hidden;
            top: 70px;
            left: 0;
            transition: .3s;
    
            -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.55);
            -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.55);
            box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.55);

            position: absolute;
            z-index: 2;
            background: $primary-clr;
    
            flex-direction: column;
            padding: 0;
            min-width: 202px;
    
            li{
                margin: 0;
            }
        }
        .logo-2{
            display: flex;
            align-items: center;
        }
        .logo-2 img{
            display: none;
            margin-right: 20px;
            min-width: 30px;
            max-width: 30px;
        }
    }

}
.hide-top-row{
    position: fixed;
    top: 0;
    width: 100%;

    #uppr-row{
        padding: 0;
    }
    .logo-2 img{
        display: block;
    }
}
// Header END

#ham-button{
    display: none;
    border: none;
    background: none;

    // .hamRotate{
    //     pointer-events: none;
    // }
    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .hamRotate.active {
        transform: rotate(45deg);
      }
      .hamRotate180.active {
        transform: rotate(180deg);
      }
      .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#fff;
        stroke-width:5.5;
        stroke-linecap:round;
      }
    
    .ham8 .top {
        stroke-dasharray: 40 160;
      }
      .ham8 .middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
      }
      .ham8 .bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
      }
      .ham8.active .top {
        stroke-dashoffset: -64px;
      }
      .ham8.active .middle {
        //stroke-dashoffset: -20px;
        transform: rotate(90deg);
      }
      .ham8.active .bottom {
        stroke-dashoffset: -64px;
      }

}
.login-srch{
    display: flex;
    align-items: center;

    ul{
        height: 100%;

        .sub-menu{
            height: fit-content;
        }
    }
}
.srch-bar-sm{
    display: none;
}
.srch-bar{
    z-index: 50;
    margin-left: 15px;

    .srch-i{
        border: none;
        outline: none;
        color: #fff;
        font-size: 1.4rem;
        background: none;

        .bi-search{
            pointer-events: none;
        }
    }
    .search-box{
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        transition: .4s;
        position: absolute;
        left: 0;
        // top: 100px;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        backdrop-filter: blur(6px);
        height: 100vh;

        
        input{
            transition: .6s;
            filter: blur(0px);
            position: relative;
            top: 10px;
            border-radius: 6px;
            padding: 28px 15px;
            outline: none;
            min-height: 50px;
            max-height: 50px;
            border: none;
            color: $secondary-clr;
            font-family: $open-sans;
            
            width: 63%;
        }
    }
    .show-hide-srch{
        visibility: visible;
        opacity: 1;

    }
}