// Section START
body{
    background: $secondary-clr !important;
}
//Main banner section START
.heroBanner{
    display: flex;
    align-items: center;
    // margin-top: 30px !important;
    min-height: 300px;
    max-height: 300px;
    position: relative;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
    background-position: top;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .makeShape{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        height: 100%;
        aspect-ratio: 1;
        clip-path: polygon(0 100%, 0 70%, 100% 100%);
        background: $secondary-clr;
    }


    img{
        position: relative;
        z-index: 2;
        width: 100%;
    }
}
.topOverlay{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(166, 149, 18, 0.6);

    // position: absolute;
}
.bannerText{
    height: 10%;
    z-index: 15;
    position: absolute;
    right: 20%;
    margin-bottom: 50px;

    h3{
        color: $text-accent;
        font-family: $parksonBlack;
        // font-weight: 700;
        font-size: clamp(3rem, 4.5vw, 4.5rem);
        line-height: 30px;
        text-transform: uppercase;
    }
    p{
        margin-top: 20px;
        font-family: $open-sans;
        color: $text-accent;
        text-transform: uppercase;
        font-size: clamp(.9rem, 1.2vw, 1rem);
    }
}
//Main banner section END

// About site section START
.about-site{
    margin-top: 60px !important;
    padding: 60px 0px;
    // height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: $secondary-clr;

    .title-hdr{
        margin-top: 20px;
        color: $primary-clr;
        font-family: $parksonBlack;
        text-transform: uppercase;
        font-size: clamp(2rem, 3vw, 3rem);
    }
    .ab-des-txt{
        font-family: $open-sans;
        color: $text-accent;
        line-height: 25px;
        text-align: center;
        font-weight: 500;
        font-size: .9rem;


    }
    .ab-logo{
        min-width: 180px;
        max-width: 180px;
        min-height: 180px;
        max-height: 180px;
        border-radius: 50%;
        background: $primary-clr;
        padding: 10px;

        img{
            position: relative;
            top: 6px;
            width: 100%;
        }
    }
}
// About site section END
.pri-tabs{
    margin-top: 80px;

    .nav-link{
        font-family: $open-sans;
        font-weight: 500;
        color: $secondary-clr;
        border: none !important;
        border-bottom: 1px solid #dee2e6 !important;
        padding-bottom: 15px;
    }
    .nav-item .active{
        border-bottom: 2px solid $secondary-clr !important;
        color: $primary-clr !important;
    }
}

#page-dev-sec{
    background: $secondary-clr;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .social-icons{
        width: 100%;

        ul li a{
            font-size: 2rem;
            color: $text-accent;
            
            span{
                font-size: 1rem;
            }
        }
    } 
    .mid-bl{
        margin-bottom: 150px;
        flex-direction: column;
        display: flex;
        align-items: center;
        color: $text-accent;
        
        img{
            min-width: 50px;
            max-width: 50px;
        }
        p{
            margin: 0;
            font-family: $open-sans;
            font-weight: 500;
        }
        div div:nth-child(2){
            margin-left: 15px;
            padding-left: 20px;
            border-left: 1px solid $secondary-clr;
        }
    }
}
.primary-btn{
    text-decoration: none;

    button{
        border: none;
        background: $primary-clr;
        border-radius: 4px;
        color: #fff;
        font-family: $open-sans;
        padding: 10px 15px;
        // margin-bottom: 15px;
    }
}
// #wrapper-1{
//     margin: 0px;
// }
// #wrapper-1{
//     padding: 0px;

//     #hero-slider{
//         .carousel-indicators{
//             z-index: 7;
//         }

//         .carousel-inner{
//             position: relative;

//             .slider-over{
//                 z-index: 6;
//                 width: 100%;
//                 position: absolute;
//                 bottom: 0;
//                 min-height: 80px;
//                 padding: 30px;
//                 background: rgb(255,255,255);
//                 background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.9) 100%);
    
//                 p, span{
//                     color: #fff;
//                     font-family: $open-sans;
//                 }
//                 p{
//                     margin: 0;
//                     font-weight: 500;
//                     font-size: 2rem;
//                 }
//                 :nth-child(2){
//                     font-size: 1.2rem;
//                     font-weight: 300;
    
//                     span{
//                         font-weight: 500;
//                     }
//                 }
//             }
//         }

//         .carousel-item{
//             min-height: 550px;
//             max-height: 550px;
//             object-fit: cover;
            
//             img{
//                 min-height: 550px;
//                 max-height: 550px;
//                 object-fit: cover;
//             }
//         } 
//     }
    
// }
.meetup-card{
    .card{
        // padding: 0;
        background: none;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .card-hdr{
        margin-bottom: 10px;
        text-transform: capitalize;
        font-family: $open-sans;
        font-size: clamp(1rem, 2vw, 1.2rem);
        color: $text-accent;
    }
    .card-date{
        text-transform: capitalize;
        font-family: $open-sans;
        font-size: .9rem;
        color: $text-accent;
        opacity: .8;
    }
    .card-img{
        border-radius: 3px;
        overflow: hidden;
        min-height: 350px;
        max-height: 400px;

        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .meetup-btn{
        outline: none;

        button{
            border-radius: 3px;
            padding: 6px 40px;
            background: $primary-clr;
            border: none;
            outline: none;
            text-transform: uppercase;
            color: $secondary-clr;
            font-family: $open-sans;
            font-weight: 500;
            font-size: .9rem;
            transition: .3s;
            border: 1px solid transparent;

            &:hover{
                background: $secondary-clr;
                color: $text-accent;
                border-color: $text-accent;
            }
        }
    }
}
.support-wrapper{
    margin: 100px 0;

    .promoBanner{
        align-self: flex-start;
        margin-top: 0 !important;
        position: relative;
        
        img{
            position: relative;
            z-index: 2;
            width: 100%;
        }

        .border-box{
            left: -20px;
            bottom: -30px;
            right: 0;
            z-index: 1;
            max-width: 95%;
            border: 5px solid $text-accent;
            height: 100%;
            position: absolute;
        }
    }
    .side-txt-wrapper {
        text-align: center;
        p{
            padding: 0 20px;
            font-family: $open-sans !important;
            text-transform: unset;
            font-size: .9rem;
            color: $text-accent;
            line-height: 25px;
            font-weight: 300;
            &::first-letter{
                text-transform: capitalize;
            }
        }
    }
    h4{
        font-family: $bukenFont;
        font-size: 1rem;
        color: $text-accent;
    }
    h3{
        color: #FBE746;
        font-family: $parksonBlack;
        font-size: clamp(3rem, 4vw, 4.5rem);
        line-height: 65px;
        text-transform: uppercase;
    }
}
// .news-sec{
//     padding: 50px 0;
//     background: #333;
    
//     .tab-content{
//         padding: 0;
//     }

//     .news-row{
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         gap: 1rem;

//         .card{
//             padding: 0 0;
//             .card-body {
//                 padding: 0;
//                 display: flex;

//                 a{
//                     text-decoration: none;
//                     padding: 1rem 1rem;
//                     display: flex;
//                     flex-direction: column;
//                     align-items: center;
//                     justify-content: space-between;

//                     &:hover .news-hdr{
//                         text-decoration: underline;
//                         color: $primary-clr;
//                     }
//                 }
//             }
        
//         }
//     }
//     .view-all-btn{
//         grid-column-end: 5;
//         padding: 0;

//         button{
//             width: 100%;
//             float: right;
//             border: none;
//             outline: none;
//             background: $primary-clr;
//             color: #fff;
//             border-radius: 4px;
//             font-family: $open-sans;
//             padding: 10px 15px;

//         }
//     }

//     .news-hdr{
//         color: $secondary-clr;
//         text-align: center;
//         font-family: $open-sans;
//         font-size: 1.1rem;
//         display: block;
//         text-decoration: none;
//         font-weight: 500;
//         padding-bottom: 10px;
//     }
//     .news-date{
//         font-family: $open-sans;
//         color: #868686;
//         font-size: .9rem;
//         margin: 10px 0;
//         text-align: center;
//     }
//     .card-text{
//         margin-top: 15px;
//         font-family: $open-sans;
//         font-size: 1rem;
//         line-height: 1.7rem;
//         text-align: center;
//     }
//     .read-more-btn{
//         button{
//             font-family: $open-sans;
//             padding: 10px 15px;
//             background: $primary-clr;
//         }
//     }
//     .nav {
//         li button{
//             color: #fff;
//             font-family: $open-sans;
//         }
//     }
//     .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
//         background: $primary-clr;
//     }
//     h2{
//         // width: 100%;
//         color: #fff;
//         text-align: center;
//         margin-bottom: 20px;
//         font-family: $open-sans;
//     }
// }
// Social Media START
.social-media-sec{
    background: $primary-clr;
    // background: #040404;
    padding: 50px 0;

    .follow-us-des{
        font-family: $open-sans;
        color: $secondary-clr;
        opacity: .8;
        text-align: center;
        font-size: .9rem;

        &::first-letter{
            text-transform: capitalize;
        }
    }
    .sec-hdr{
        color: $secondary-clr;
        text-transform: uppercase;
        font-family: $AnzeigenGrotesk;
        font-size: clamp(2.5rem, 3vw, 3rem);
        text-align: center;
    }
}
.social-icons{
    margin-top: 30px;

    ul{
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        li {
            a{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $secondary-clr;
                text-transform: capitalize;
                font-size: 2.3rem;

                &:hover span{
                    text-decoration: underline;
                }
                span{
                    font-size: 1.4rem;
                }
            }
        }
    }
}
// Social Media END
// Contact Us START
.contact-us-sec{
    background: $secondary-clr;
    padding: 50px;

    .sec-hdr{
        font-family: $AnzeigenGrotesk;
        color: $primary-clr;
        font-size: clamp(2rem, 4vw, 4rem);
    }
    .left-bx{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        a{
            display: block;
            width: fit-content;
        }
        p, a{
            text-align: center;
            margin-bottom: 8px;
            opacity: .8;
            color: $text-accent;
            text-decoration: none;
            font-size: .9rem;
            font-family: $open-sans;
        }
        a:hover{
            color: $primary-clr;
        }
    }
    .right-bx{
        // max-height: 350px;

        .form-label{
            font-family: $open-sans;
            font-size: 1rem;
        }
        .card{
            background: $primary-clr;
        }

        .form-control{
            border-color: transparent;
        }
        .form-check-input:focus, .form-control:focus, .form-select:focus{
            box-shadow: none;
            border-color: $secondary-clr;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .form-check-label{
            font-size: .9rem;
        }
    }
}
.submit-btn, .send-btn{
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    background: none;
    outline: none;
    min-width: 100px;
    font-family: $open-sans;
    background: $secondary-clr;
    color: $text-accent !important;
    transition: .2s;
    position: relative;
    top: 0;
    box-shadow: 0px 7px 25px 2px rgba(0, 0, 0, 0.0) !important;
    
    &:hover{
        box-shadow: 0px 7px 50px 2px rgba(0, 0, 0, 0.6) !important;
        top: -5px;
    }
    
}
.submit-shadow{
    color: $secondary-clr !important;
    box-shadow: 0px 7px 25px 2px rgba(251, 231, 70, 0.0) !important;
    
    &:hover{
        background: $primary-clr !important;
        box-shadow: 0px 7px 25px 2px rgba(251, 231, 70, 0.6) !important;
    }
}

// Contact Us END
// Gallery Section START
#gallery-swiper{
    width: 100%;
    height: fit-content;

    .swiper-button-next:after, .swiper-button-prev:after{
        color: $primary-clr;
        // background:rgba(166, 149, 18, 0.6);
        // position: fixed;
    }
}

.lightbox-swiper{
    margin-top: 10px;
    
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        display: inline-block;
    }
    
    /* Main CSS */
    .grid-wrapper > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-wrapper > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .grid-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        grid-auto-rows: 200px;
        grid-auto-flow: dense;
    }
    .grid-wrapper .wide {
        grid-column: span 1;
    }
    .grid-wrapper .tall {
        grid-row: span 2;
    }
    .grid-wrapper .big {
        grid-column: span 1;
        grid-row: span 1;
    }
}



// #animated-thumbnails{
//     margin: 40px 0; 
    // display: flex;   
    // display: grid;
	// grid-gap: 10px;
	// grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	// grid-auto-rows: 200px;
	// grid-auto-flow: dense;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 270px 240px 1fr auto;

    // gap: 1rem;

    // .height-bx-sm{
    //     // min-height: 200px;
    //     // max-height: 200px;
    //     overflow: hidden;
    // }
    // .height-bx-lg{
    //     // min-height: 400px;
    //     // max-height: 400px;
    //     object-fit: cover;
    // }
    // .img-bx{
    //     width: 100%;
    //     height: 100%;
        
    //     img{
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }

    // }
    
    // .img-bx{
    //     width: 100%;
    
    //     .img-fluid{
    //         height: 100% !important;
    //         object-fit: cover !important;
    //     }
    // }
// }
// .gallery-sec{
//     margin: 100px 0;
//     padding: 0 !important;

//     #pills-tab{
//         button{
//             color: $secondary-clr;
//             font-family: $open-sans;
//             font-weight: 500;

//         }
//         .active{
//             color: #fff;
//         }
//     }

//     .gallery-slide{
//         display: grid !important;   
//         grid-template-columns: repeat(4, 1fr);
//         gap: 1rem;
//     }
//     .img-con,
//     .img-con img{
//         min-width: 100%;
//         max-width: 100%;
//         min-height: 250px;
//         max-height: 250px;
//         object-fit: cover;
//     }

// }
// Gallery Section END

// partners START
.partners-sec{
    background: #333;
    padding: 50px 0;
    
    .logo-1{
        text-align: center;
        img{
            min-width: 150px;
            max-width: 150px;
        }
    }
    .partners-logos-con{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center;
        
        .logo-bl{
            display: flex;
            align-items: center;
        }
        .logo-bl,
        .logo-bl img{
            min-width: 160px;
            max-width: 160px;
            object-fit: contain;
        }
    }
}
// partners END
// Insta Feed 
#insta-feed{
	float: left;
	// width: 48%;
	min-height: 320px;
	max-height: 450px;
	overflow-y: none;
    overflow-x: auto;
	// scrollbar-width: thin;
	// -webkit-scrollbar: none;
	padding: 0 0px 0px 0px;
	background: $secondary-clr;

}
#insta-feed h3{
	margin-bottom: 0%;
    color: $text-accent;
    font-size: 18px;
    text-align: left;
    padding-bottom: 20px;
}
#instafeed-container{
    // scrollbar-width: thin;
	-webkit-scrollbar: none;
	overflow: scroll;
	min-height: 350px;
	max-height: 350px;
    overflow-x: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

    &::-webkit-scrollbar {
        width: 6px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: #131210;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $primary-clr;
        border-radius: 10px;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #beac22;
      }
}
::-webkit-scrollbar {
    width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #131210;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-clr;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #beac22;
}
#instafeed-container a{
	min-width: 30%;
	max-width: 31%;
	// min-height: 180px;
	// max-height: 200px;
	margin-top: 8px;
	margin-left: 8px;
	overflow: hidden;
	float: left;
}
#instafeed-container a img{
	width: 100% !important;
	height: 100%;
	object-fit: cover;
}
// Promo Banner Section START
#promo-banner{
    min-height: 350px;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    
    .banner-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(166, 149, 18, 0.6);
        
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
// Promo Banner Section END

// Section END

