*{
    margin: 0;
    padding: 0;
}
button{
    outline: none !important;
}
.nopadding{
    padding: 0 !important;
}
$primary-clr: #0549ce;
$secondary-clr: #2d2525;
$text-accent: #96A5C3;

$open-sans: 'Open Sans', sans-serif;

::-moz-selection { /* Code for Firefox */
    color: #000000;
    background: #a7c4ff;
}

::selection {
      color: #000000;
      background: #a7c4ff;
  }

@import 'header';
@import 'section';
@import 'legal-doc';
@import 'contact-us';
@import 'account';
@import 'club-pages';
@import 'community';
@import 'teams';
@import 'footer';
@import 'responsive';