*{
    margin: 0;
    padding: 0;
}

// Import font Bunken tech
// @import url('../fonts/BunkenTechSansPro-ExBdIt.woff');
$AnzeigenGrotesk: 'Anzeigen Grotesk W01 Regular';
@font-face {
    font-family: $AnzeigenGrotesk;
    src: url('../fonts/AnzeigenGroteskW01Regular.woff');
    // src: local('Bunken Tech Sans Pro Bold'), local('BunkenTechSansPro-Bold'),
}

$bukenFont: 'Bunken Tech Sans Pro Bold';
@font-face {
    font-family: $bukenFont;
    src: url('../fonts/BunkenTechSansPro-ExBdIt.woff');
    // src: local('Bunken Tech Sans Pro Bold'), local('BunkenTechSansPro-Bold'),
}

$parksonFont: 'Parkson';
@font-face {
    font-family: $parksonFont;
    src: url('../fonts/Parkson Regular.woff');
    // src: local('Bunken Tech Sans Pro Bold'), local('BunkenTechSansPro-Bold'),
}

$parksonMedium: 'Parkson Medium';
@font-face {
    font-family: $parksonMedium;
    src: url('../fonts/Parkson Medium.woff');
    // src: local('Bunken Tech Sans Pro Bold'), local('BunkenTechSansPro-Bold'),
}
$parksonSemiB: 'Parkson semi bold';
@font-face {
    font-family: $parksonSemiB;
    src: url('../fonts/Parkson-Semi-Bold_1.woff');
    // src: local('Bunken Tech Sans Pro Bold'), local('BunkenTechSansPro-Bold'),
}
$parksonBlack: 'Parkson black';
@font-face {
    font-family: $parksonBlack;
    src: url('../fonts/Parkson Black.woff');
    // src: local('Bunken Tech Sans Pro Bold'), local('BunkenTechSansPro-Bold'),
}

$open-sans: 'Open Sans', sans-serif;

button{
    outline: none !important;
}
.nopadding{
    padding: 0 !important;
}
$primary-clr: #FBE746;
$secondary-clr: #141414;
$darkShade-1: #202020;
$text-accent: #fafafa;

::-moz-selection { /* Code for Firefox */
    color: #000000;
    background: #f7ffa0be;
}

::selection {
      color: #000000;
      background: #fcf1a2bb;
    //   background: #f7ffa0be;
  }

@import 'header';
@import 'section';
@import 'testimonials';

@import 'legal-doc';
@import 'contact-us';
@import 'account';
@import 'club-pages';
@import 'community';
@import 'teams';
@import 'blogs';
@import 'about-us';
@import 'footer';
@import 'player-registration';
@import 'player-profile';
@import 'responsive';